<p>{{titleText}}</p>
<div class="animated fadeIn">
    <p-panel #pnl>
        <button (click)="onClick(fnameId.value)" class="redClass">Click me!</button> <br />
        FirstName: <input type="text" [(ngModel)]="fname" #fnameId /><br />
        LastName: <input type="text" [(ngModel)]="lname" /><br />
        <h4 *ngIf="!hiddenFullName">FullName: {{fname}} {{lname}}</h4><br />
        <div [ngSwitch]="fname">
            <p *ngSwitchCase="'red'">This is red color</p>
            <p *ngSwitchCase="'green'">This is green color</p>
            <p *ngSwitchCase="'blue'">This is blue color</p>
            <p *ngSwitchDefault>This is invalid color</p>
            <ul>
                <li *ngFor="let color of colors">{{color}}</li>
            </ul>
            <h4 [ngClass]="{classOne: cone, classTwo: ctwo}">This is ngClass directive</h4>
            <h4>Child component: {{name}}</h4>
            <button [disabled]="voted" (click)="onVote(true)">Agree</button>
            <button [disabled]="voted" (click)="onVote(false)">Disagree</button>
            Result: {{resultVote}} <br />
            Percent: {{percent | percent:'.2'}}
            Decimal: {{number | number:'.1'}}
            <ul>SlicePile:
                <li *ngFor="let item of object | slice:0:3">{{item}}</li>
            </ul>
            <button (click)="onNaviageToUsersListPage()">Navigate To Users List Page</button>
            <h2>User Form</h2>
            <form #userForm="ngForm" (ngSubmit)="onSubmitForm(userForm.value)" >
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" required minlength="6" maxlength="10" name="name" #name="ngModel" ngModel/>
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                        <div [hidden]="!name.errors.required">Name is required</div>
                        <div [hidden]="!name.errors.minlength">Min length must be at least 6 characters</div>
                        <div [hidden]="!name.errors.maxlength">Max length musts be no longer 10 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" ngModel/>
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" class="form-control" name="street" ngModel/>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select  class="form-control" required name="city" ngModel>
                        <option *ngFor="let item of cities" [value]="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>PostCode</label>
                    <input type="text" class="form-control" pattern="^[1-9][0-9]{2}$" name="postCode" #postCode="ngModel" ngModel/>
                    <div *ngIf="postCode.errors && (postCode.dirty || postCode.touched)" class="alert alert-danger">
                        <div [hidden]="!postCode.errors.pattern">Post Code must be at least 5 digits</div>
                    </div>
                </div>
                <button type="submit" [disabled]="userForm.invalid" class="btn btn-danger">Submit</button>
            </form>
            <h3>Students List</h3>
            <ul>
                <li *ngFor="let student of students">{{student.name}}</li>
            </ul>
        </div>
        <p-header>
            <div class="p-grid">
                <div class="ui-g-6">
                    <button appPermission appFunction="SYSTEM_ROLE" appAction="CREATE" pButton type="button"
                        label="Thêm" icon="fa fa-plus" (click)="showAddModal()"></button>
                    <button appPermission appFunction="SYSTEM_ROLE" appAction="DELETE" pButton type="button" label="Xóa"
                        icon="fa fa-trash" class="ui-button-danger" *ngIf="selectedItems.length > 0"
                        (click)="deleteItems()"></button>
                    <button appPermission appFunction="SYSTEM_ROLE" appAction="UPDATE" pButton type="button" label="Sửa"
                        icon="fa fa-edit" class="ui-button-warning" *ngIf="selectedItems.length== 1"
                        (click)="showEditModal()"></button>
                </div>
                <div class="ui-g-6">
                    <input style="width: 100%;" pInputText (keyup.enter)="loadData()" [(ngModel)]="keyword"
                        placeholder="Nhập từ khóa..." type="text" #keyWord>
                </div>
            </div>
        </p-header>

        <p-table #dt [value]="items" selectionMode="multiple" [(selection)]="selectedItems" [metaKeySelection]="true"
            [responsive]="true" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 35px">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th [pSortableColumn]="'Name'">Mã
                        <p-sortIcon [field]="'Name'"></p-sortIcon>
                    </th>
                    <th [pSortableColumn]="'Description'">Mô tả nhóm
                        <p-sortIcon [field]="'Description'"></p-sortIcon>
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr [pSelectableRow]="row">
                    <td style="width: 35px;">
                        <!-- <span class="ui-column-title">Lựa chọn</span> -->
                        <p-tableCheckbox [value]="row"></p-tableCheckbox>
                    </td>
                    <td>{{row.id}}</td>
                    <td [class.redClass]="!applyClass">{{row.name | lowercase}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div style="text-align: left">
                    Tổng số bản ghi: {{totalRecords | number}}
                    TODAY: {{today | date: 'dd/MM/yyy, h:mm a'}}
                </div>
            </ng-template>
        </p-table>
        <p-footer>
            <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"
                [rowsPerPageOptions]="rowsPerPageOptions"></p-paginator>
            <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
                    strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
            </p-blockUI>
        </p-footer>
    </p-panel>
</div>