<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <div class="nested-menu" *ngFor="let item of functions">
            <a (click)="addExpandClass(item.id)" class="list-group-item">
                <i class="fa {{item.icon}}"></i>&nbsp;
                <span>{{ item.name }}</span>
            </a>
            <li [class.expand]="showMenu === item.id" class="nested" *ngFor="let subItem of item.children">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="subItem.url" [routerLinkActive]="'router-link-active'">
                            <i class="fa {{subItem.icon}}"></i>&nbsp;
                            <span>{{ subItem.name }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
